# Car Data Analysis

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
try:
    data = pd.read_csv(r"2. Cars Data1.csv")
    print ("Weather Data dataset has {} samples with {} features each.".format(*data.shape))
except:
    print ("Dataset could not be loaded. Is the dataset missing?")

Weather Data dataset has 432 samples with 15 features each.

In [3]:
data.head()

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,"$36,945","$33,337",3.5,6.0,265.0,17.0,23.0,4451.0,106.0,189.0
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4.0,200.0,24.0,31.0,2778.0,101.0,172.0
2,Acura,TSX 4dr,Sedan,Asia,Front,"$26,990","$24,647",2.4,4.0,200.0,22.0,29.0,3230.0,105.0,183.0
3,Acura,TL 4dr,Sedan,Asia,Front,"$33,195","$30,299",3.2,6.0,270.0,20.0,28.0,3575.0,108.0,186.0
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,"$43,755","$39,014",3.5,6.0,225.0,18.0,24.0,3880.0,115.0,197.0

In [4]:
data.shape

(432, 15)

In [5]:
# Display a description of the dataset
stats = data.describe()
stats

,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
count,428.000000,426.000000,428.000000,428.000000,428.000000,428.000000,428.000000,428.000000
mean,3.196729,5.807512,215.885514,20.060748,26.843458,3577.953271,108.154206,186.362150
std,1.108595,1.558443,71.836032,5.238218,5.741201,758.983215,8.311813,14.357991
min,1.300000,3.000000,73.000000,10.000000,12.000000,1850.000000,89.000000,143.000000
25%,2.375000,4.000000,165.000000,17.000000,24.000000,3104.000000,103.000000,178.000000
50%,3.000000,6.000000,210.000000,19.000000,26.000000,3474.500000,107.000000,187.000000
75%,3.900000,6.000000,255.000000,21.250000,29.000000,3977.750000,112.000000,194.000000
max,8.300000,12.000000,500.000000,60.000000,66.000000,7190.000000,144.000000,238.000000

In [6]:
# Retrieve column names
data.columns

Index(['Make', 'Model', 'Type', 'Origin', 'DriveTrain', 'MSRP', 'Invoice',
       'EngineSize', 'Cylinders', 'Horsepower', 'MPG_City', 'MPG_Highway',
       'Weight', 'Wheelbase', 'Length'],
      dtype='object')

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 432 entries, 0 to 431
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Make         428 non-null    object
 1   Model        428 non-null    object
 2   Type         428 non-null    object
 3   Origin       428 non-null    object
 4   DriveTrain   428 non-null    object
 5   MSRP         428 non-null    object
 6   Invoice      428 non-null    object
 7   EngineSize   428 non-null    float64
 8   Cylinders    426 non-null    float64
 9   Horsepower   428 non-null    float64
 10  MPG_City     428 non-null    float64
 11  MPG_Highway  428 non-null    float64
 12  Weight       428 non-null    float64
 13  Wheelbase    428 non-null    float64
 14  Length       428 non-null    float64
dtypes: float64(8), object(7)
memory usage: 50.8+ KB

In [8]:
data.index

RangeIndex(start=0, stop=432, step=1)

In [9]:
data.isna().sum()

Make           4
Model          4
Type           4
Origin         4
DriveTrain     4
MSRP           4
Invoice        4
EngineSize     4
Cylinders      6
Horsepower     4
MPG_City       4
MPG_Highway    4
Weight         4
Wheelbase      4
Length         4
dtype: int64

In [10]:
data.dropna(how='all',inplace=True)

In [11]:
data.isna().sum()

Make           0
Model          0
Type           0
Origin         0
DriveTrain     0
MSRP           0
Invoice        0
EngineSize     0
Cylinders      2
Horsepower     0
MPG_City       0
MPG_Highway    0
Weight         0
Wheelbase      0
Length         0
dtype: int64

In [12]:
data.duplicated().any()

False

# 1.What are the make and its count of each make in the data

In [13]:
data.Make.value_counts()

Toyota           28
Chevrolet        27
Mercedes-Benz    26
Ford             23
BMW              20
Audi             19
Honda            17
Nissan           17
Chrysler         15
Volkswagen       15
Mitsubishi       13
Dodge            13
Volvo            12
Hyundai          12
Jaguar           12
Pontiac          11
Subaru           11
Kia              11
Lexus            11
Mazda            11
Buick             9
Mercury           9
Lincoln           9
Cadillac          8
Saturn            8
Infiniti          8
GMC               8
Suzuki            8
Porsche           7
Acura             7
Saab              7
Land Rover        3
Oldsmobile        3
Jeep              3
Isuzu             2
MINI              2
Scion             2
Hummer            1
Name: Make, dtype: int64

# 2.Show all records in which orgin is Asia or Europe

In [14]:
data[(data['Origin']=='Asia') | (data['Origin']=='Europe')]

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,"$36,945","$33,337",3.5,6.0,265.0,17.0,23.0,4451.0,106.0,189.0
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4.0,200.0,24.0,31.0,2778.0,101.0,172.0
2,Acura,TSX 4dr,Sedan,Asia,Front,"$26,990","$24,647",2.4,4.0,200.0,22.0,29.0,3230.0,105.0,183.0
3,Acura,TL 4dr,Sedan,Asia,Front,"$33,195","$30,299",3.2,6.0,270.0,20.0,28.0,3575.0,108.0,186.0
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,"$43,755","$39,014",3.5,6.0,225.0,18.0,24.0,3880.0,115.0,197.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
427,Volvo,C70 LPT convertible 2dr,Sedan,Europe,Front,"$40,565","$38,203",2.4,5.0,197.0,21.0,28.0,3450.0,105.0,186.0
428,Volvo,C70 HPT convertible 2dr,Sedan,Europe,Front,"$42,565","$40,083",2.3,5.0,242.0,20.0,26.0,3450.0,105.0,186.0
429,Volvo,S80 T6 4dr,Sedan,Europe,Front,"$45,210","$42,573",2.9,6.0,268.0,19.0,26.0,3653.0,110.0,190.0
430,Volvo,V40,Wagon,Europe,Front,"$26,135","$24,641",1.9,4.0,170.0,22.0,29.0,2822.0,101.0,180.0
431,Volvo,XC70,Wagon,Europe,All,"$35,145","$33,112",2.5,5.0,208.0,20.0,27.0,3823.0,109.0,186.0

In [15]:
data[data['Origin'].isin(['Asia','Europe'])]

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,"$36,945","$33,337",3.5,6.0,265.0,17.0,23.0,4451.0,106.0,189.0
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4.0,200.0,24.0,31.0,2778.0,101.0,172.0
2,Acura,TSX 4dr,Sedan,Asia,Front,"$26,990","$24,647",2.4,4.0,200.0,22.0,29.0,3230.0,105.0,183.0
3,Acura,TL 4dr,Sedan,Asia,Front,"$33,195","$30,299",3.2,6.0,270.0,20.0,28.0,3575.0,108.0,186.0
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,"$43,755","$39,014",3.5,6.0,225.0,18.0,24.0,3880.0,115.0,197.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
427,Volvo,C70 LPT convertible 2dr,Sedan,Europe,Front,"$40,565","$38,203",2.4,5.0,197.0,21.0,28.0,3450.0,105.0,186.0
428,Volvo,C70 HPT convertible 2dr,Sedan,Europe,Front,"$42,565","$40,083",2.3,5.0,242.0,20.0,26.0,3450.0,105.0,186.0
429,Volvo,S80 T6 4dr,Sedan,Europe,Front,"$45,210","$42,573",2.9,6.0,268.0,19.0,26.0,3653.0,110.0,190.0
430,Volvo,V40,Wagon,Europe,Front,"$26,135","$24,641",1.9,4.0,170.0,22.0,29.0,2822.0,101.0,180.0
431,Volvo,XC70,Wagon,Europe,All,"$35,145","$33,112",2.5,5.0,208.0,20.0,27.0,3823.0,109.0,186.0

# 2.Remove all records where weight is above 4000

In [16]:
data[~(data['Weight']>4000)]

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4.0,200.0,24.0,31.0,2778.0,101.0,172.0
2,Acura,TSX 4dr,Sedan,Asia,Front,"$26,990","$24,647",2.4,4.0,200.0,22.0,29.0,3230.0,105.0,183.0
3,Acura,TL 4dr,Sedan,Asia,Front,"$33,195","$30,299",3.2,6.0,270.0,20.0,28.0,3575.0,108.0,186.0
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,"$43,755","$39,014",3.5,6.0,225.0,18.0,24.0,3880.0,115.0,197.0
5,Acura,3.5 RL w/Navigation 4dr,Sedan,Asia,Front,"$46,100","$41,100",3.5,6.0,225.0,18.0,24.0,3893.0,115.0,197.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
427,Volvo,C70 LPT convertible 2dr,Sedan,Europe,Front,"$40,565","$38,203",2.4,5.0,197.0,21.0,28.0,3450.0,105.0,186.0
428,Volvo,C70 HPT convertible 2dr,Sedan,Europe,Front,"$42,565","$40,083",2.3,5.0,242.0,20.0,26.0,3450.0,105.0,186.0
429,Volvo,S80 T6 4dr,Sedan,Europe,Front,"$45,210","$42,573",2.9,6.0,268.0,19.0,26.0,3653.0,110.0,190.0
430,Volvo,V40,Wagon,Europe,Front,"$26,135","$24,641",1.9,4.0,170.0,22.0,29.0,2822.0,101.0,180.0
431,Volvo,XC70,Wagon,Europe,All,"$35,145","$33,112",2.5,5.0,208.0,20.0,27.0,3823.0,109.0,186.0

# 3.Increase all value of MPG_City column by 3

In [17]:
data.head(2)

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,"$36,945","$33,337",3.5,6.0,265.0,17.0,23.0,4451.0,106.0,189.0
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4.0,200.0,24.0,31.0,2778.0,101.0,172.0

In [18]:
data['MPG_City']=data['MPG_City'].apply(lambda x:x+3)

In [19]:
data.head(2)

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,"$36,945","$33,337",3.5,6.0,265.0,20.0,23.0,4451.0,106.0,189.0
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4.0,200.0,27.0,31.0,2778.0,101.0,172.0

# Data Cleaning

In [20]:
data.MSRP.unique()

array(['$36,945 ', '$23,820 ', '$26,990 ', '$33,195 ', '$43,755 ',
       '$46,100 ', '$89,765 ', '$25,940 ', '$35,940 ', '$31,840 ',
       '$33,430 ', '$34,480 ', '$36,640 ', '$39,640 ', '$42,490 ',
       '$44,240 ', '$42,840 ', '$49,690 ', '$69,190 ', '$48,040 ',
       '$84,600 ', '$37,390 ', '$40,590 ', '$40,840 ', '$49,090 ',
       '$37,000 ', '$52,195 ', '$28,495 ', '$30,795 ', '$37,995 ',
       '$30,245 ', '$35,495 ', '$36,995 ', '$37,245 ', '$39,995 ',
       '$44,295 ', '$44,995 ', '$54,995 ', '$69,195 ', '$73,195 ',
       '$48,195 ', '$56,595 ', '$33,895 ', '$41,045 ', '$32,845 ',
       '$37,895 ', '$26,545 ', '$22,180 ', '$26,470 ', '$24,895 ',
       '$28,345 ', '$32,245 ', '$35,545 ', '$40,720 ', '$52,795 ',
       '$46,995 ', '$30,835 ', '$45,445 ', '$50,595 ', '$47,955 ',
       '$76,200 ', '$52,975 ', '$42,735 ', '$41,465 ', '$30,295 ',
       '$20,255 ', '$11,690 ', '$12,585 ', '$14,610 ', '$14,810 ',
       '$16,385 ', '$21,900 ', '$18,995 ', '$20,370 ', '$21,825 ',
       '$25,000 ', '$27,995 ', '$23,495 ', '$24,225 ', '$26,395 ',
       '$27,020 ', '$44,535 ', '$51,535 ', '$36,100 ', '$18,760 ',
       '$20,310 ', '$40,340 ', '$41,995 ', '$22,225 ', '$17,985 ',
       '$22,000 ', '$19,090 ', '$21,840 ', '$29,865 ', '$24,130 ',
       '$26,860 ', '$25,955 ', '$25,215 ', '$33,295 ', '$30,950 ',
       '$27,490 ', '$38,380 ', '$34,495 ', '$31,230 ', '$32,235 ',
       '$13,670 ', '$15,040 ', '$22,035 ', '$18,820 ', '$20,220 ',
       '$24,885 ', '$21,795 ', '$32,660 ', '$81,795 ', '$17,630 ',
       '$20,300 ', '$20,215 ', '$41,475 ', '$34,560 ', '$29,670 ',
       '$22,515 ', '$13,270 ', '$13,730 ', '$15,460 ', '$15,580 ',
       '$19,135 ', '$20,320 ', '$22,735 ', '$24,345 ', '$27,370 ',
       '$30,315 ', '$26,930 ', '$18,345 ', '$29,380 ', '$37,530 ',
       '$22,010 ', '$33,540 ', '$14,385 ', '$17,475 ', '$22,290 ',
       '$31,890 ', '$35,725 ', '$46,265 ', '$25,640 ', '$16,530 ',
       '$25,717 ', '$29,322 ', '$25,395 ', '$20,140 ', '$19,110 ',
       '$27,560 ', '$19,860 ', '$18,690 ', '$14,170 ', '$15,850 ',
       '$22,260 ', '$17,750 ', '$19,490 ', '$23,760 ', '$26,960 ',
       '$24,950 ', '$27,450 ', '$33,260 ', '$49,995 ', '$21,589 ',
       '$10,539 ', '$11,839 ', '$11,939 ', '$13,839 ', '$15,389 ',
       '$19,339 ', '$20,339 ', '$24,589 ', '$26,189 ', '$18,739 ',
       '$29,795 ', '$32,445 ', '$31,145 ', '$42,845 ', '$52,545 ',
       '$34,895 ', '$36,395 ', '$31,849 ', '$20,449 ', '$29,995 ',
       '$33,995 ', '$43,895 ', '$63,120 ', '$68,995 ', '$59,995 ',
       '$74,995 ', '$69,995 ', '$81,995 ', '$86,995 ', '$27,905 ',
       '$20,130 ', '$25,520 ', '$19,635 ', '$16,040 ', '$10,280 ',
       '$11,155 ', '$12,360 ', '$13,580 ', '$14,630 ', '$18,435 ',
       '$26,000 ', '$20,615 ', '$11,905 ', '$72,250 ', '$39,250 ',
       '$25,995 ', '$45,700 ', '$64,800 ', '$39,195 ', '$32,350 ',
       '$31,045 ', '$32,415 ', '$41,010 ', '$48,450 ', '$55,750 ',
       '$63,200 ', '$32,455 ', '$52,775 ', '$42,915 ', '$32,495 ',
       '$36,895 ', '$40,095 ', '$43,495 ', '$41,815 ', '$44,925 ',
       '$50,470 ', '$16,999 ', '$19,999 ', '$21,087 ', '$15,500 ',
       '$17,200 ', '$19,270 ', '$28,750 ', '$22,388 ', '$25,193 ',
       '$25,700 ', '$27,200 ', '$14,840 ', '$22,350 ', '$76,870 ',
       '$46,470 ', '$26,060 ', '$28,370 ', '$32,280 ', '$33,480 ',
       '$35,920 ', '$37,630 ', '$38,830 ', '$52,120 ', '$94,820 ',
       '$128,420 ', '$45,707 ', '$52,800 ', '$48,170 ', '$57,270 ',
       '$74,320 ', '$86,970 ', '$90,520 ', '$121,770 ', '$126,670 ',
       '$40,320 ', '$56,170 ', '$33,780 ', '$50,670 ', '$60,670 ',
       '$21,595 ', '$24,695 ', '$29,595 ', '$23,895 ', '$30,895 ',
       '$22,595 ', '$30,492 ', '$33,112 ', '$18,892 ', '$14,622 ',
       '$16,722 ', '$19,312 ', '$17,232 ', '$29,282 ', '$25,092 ',
       '$26,992 ', '$29,562 ', '$17,495 ', '$33,840 ', '$27,339 ',
       '$20,939 ', '$12,740 ', '$14,740 ', '$19,240 ', '$17,640 ',
       '$23,290 ', '$29,440 ', '$24,780 ', '$32,780 ', '$26,910 ',
       '$34,390 ', '$19,479 ', '$26,650 ', '$28,739 ', '$18,825 ',
       '$23,675 ', '$28,790 ', '$15,495 ', '$22,450 ', '$22,395 ',
       '$17,735 ', '$24,295 ', '$35,995 ', '$23,845 ', '$31,370 ',
       '$33,500 ', '$17,045 ', '$56,665 ', '$79,165 ', '$84,165 ',
       '$76,765 ', '$192,465 ', '$43,365 ', '$52,365 ', '$30,860 ',
       '$33,360 ', '$35,105 ', '$39,465 ', '$40,670 ', '$43,175 ',
       '$40,845 ', '$20,585 ', '$10,995 ', '$14,300 ', '$15,825 ',
       '$14,850 ', '$16,350 ', '$21,410 ', '$23,560 ', '$12,965 ',
       '$14,165 ', '$19,945 ', '$20,445 ', '$25,645 ', '$27,145 ',
       '$29,345 ', '$31,545 ', '$25,045 ', '$24,520 ', '$21,445 ',
       '$23,699 ', '$17,163 ', '$12,884 ', '$14,500 ', '$12,269 ',
       '$15,568 ', '$17,262 ', '$16,497 ', '$20,510 ', '$35,695 ',
       '$27,710 ', '$27,930 ', '$54,765 ', '$20,290 ', '$14,085 ',
       '$15,030 ', '$15,295 ', '$10,760 ', '$11,560 ', '$11,290 ',
       '$19,560 ', '$22,775 ', '$21,965 ', '$26,560 ', '$25,920 ',
       '$26,510 ', '$30,920 ', '$28,800 ', '$22,570 ', '$25,130 ',
       '$12,800 ', '$16,495 ', '$25,935 ', '$16,695 ', '$35,515 ',
       '$18,715 ', '$19,825 ', '$21,055 ', '$23,785 ', '$23,215 ',
       '$23,955 ', '$33,180 ', '$39,235 ', '$65,000 ', '$75,000 ',
       '$19,005 ', '$24,955 ', '$40,235 ', '$41,250 ', '$25,135 ',
       '$31,745 ', '$34,845 ', '$37,560 ', '$37,730 ', '$37,885 ',
       '$40,565 ', '$42,565 ', '$45,210 ', '$26,135 ', '$35,145 '],
      dtype=object)

In [21]:
data['MSRP'] = data['MSRP'].astype(str) #Changing the cost to string
data['MSRP'] = data['MSRP'].apply(lambda x: x.replace('$',''))
data['MSRP'] = data['MSRP'].apply(lambda x: x.replace(',','')) #Using lambda function to replace ',' from cost
data['MSRP'] = data['MSRP'].astype(float) # Changing the cost to Float
data.info() # looking at the dataset information after transformation

<class 'pandas.core.frame.DataFrame'>
Int64Index: 428 entries, 0 to 431
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Make         428 non-null    object
 1   Model        428 non-null    object
 2   Type         428 non-null    object
 3   Origin       428 non-null    object
 4   DriveTrain   428 non-null    object
 5   MSRP         428 non-null    float64
 6   Invoice      428 non-null    object
 7   EngineSize   428 non-null    float64
 8   Cylinders    426 non-null    float64
 9   Horsepower   428 non-null    float64
 10  MPG_City     428 non-null    float64
 11  MPG_Highway  428 non-null    float64
 12  Weight       428 non-null    float64
 13  Wheelbase    428 non-null    float64
 14  Length       428 non-null    float64
dtypes: float64(9), object(6)
memory usage: 53.5+ KB

In [22]:
data.head(2)

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,36945.0,"$33,337",3.5,6.0,265.0,20.0,23.0,4451.0,106.0,189.0
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,23820.0,"$21,761",2.0,4.0,200.0,27.0,31.0,2778.0,101.0,172.0

In [23]:
data.Invoice.unique()

array(['$33,337 ', '$21,761 ', '$24,647 ', '$30,299 ', '$39,014 ',
       '$41,100 ', '$79,978 ', '$23,508 ', '$32,506 ', '$28,846 ',
       '$30,366 ', '$31,388 ', '$33,129 ', '$35,992 ', '$38,325 ',
       '$40,075 ', '$38,840 ', '$44,936 ', '$64,740 ', '$43,556 ',
       '$76,417 ', '$32,512 ', '$33,891 ', '$36,739 ', '$37,060 ',
       '$44,446 ', '$33,873 ', '$47,720 ', '$26,155 ', '$28,245 ',
       '$34,800 ', '$27,745 ', '$32,525 ', '$33,890 ', '$34,115 ',
       '$36,620 ', '$40,530 ', '$41,170 ', '$50,270 ', '$63,190 ',
       '$66,830 ', '$44,170 ', '$51,815 ', '$31,065 ', '$37,575 ',
       '$30,110 ', '$34,357 ', '$24,085 ', '$20,351 ', '$24,282 ',
       '$22,835 ', '$26,047 ', '$29,566 ', '$32,244 ', '$36,927 ',
       '$48,377 ', '$43,523 ', '$28,575 ', '$41,650 ', '$46,362 ',
       '$43,841 ', '$70,546 ', '$48,541 ', '$37,422 ', '$36,287 ',
       '$27,479 ', '$19,108 ', '$10,965 ', '$11,802 ', '$13,697 ',
       '$13,884 ', '$15,357 ', '$20,095 ', '$17,434 ', '$18,639 ',
       '$20,026 ', '$22,931 ', '$25,672 ', '$21,551 ', '$22,222 ',
       '$23,954 ', '$24,518 ', '$39,068 ', '$45,193 ', '$31,689 ',
       '$17,070 ', '$18,480 ', '$35,399 ', '$39,306 ', '$20,394 ',
       '$16,919 ', '$20,573 ', '$17,805 ', '$20,284 ', '$27,797 ',
       '$22,452 ', '$24,909 ', '$24,172 ', '$23,451 ', '$30,884 ',
       '$28,613 ', '$25,371 ', '$35,063 ', '$32,033 ', '$28,725 ',
       '$29,472 ', '$12,849 ', '$14,086 ', '$20,502 ', '$17,512 ',
       '$18,821 ', '$23,058 ', '$20,508 ', '$29,812 ', '$74,451 ',
       '$16,264 ', '$18,670 ', '$18,076 ', '$36,494 ', '$30,468 ',
       '$26,983 ', '$20,907 ', '$12,482 ', '$12,906 ', '$14,496 ',
       '$14,607 ', '$17,878 ', '$18,881 ', '$20,857 ', '$22,856 ',
       '$25,105 ', '$27,756 ', '$24,498 ', '$16,943 ', '$26,875 ',
       '$34,483 ', '$19,490 ', '$29,405 ', '$13,717 ', '$16,375 ',
       '$20,457 ', '$28,922 ', '$31,361 ', '$40,534 ', '$23,215 ',
       '$14,877 ', '$22,604 ', '$25,759 ', '$23,043 ', '$18,451 ',
       '$17,911 ', '$24,843 ', '$18,419 ', '$17,334 ', '$12,175 ',
       '$12,996 ', '$14,531 ', '$17,924 ', '$20,080 ', '$16,265 ',
       '$17,849 ', '$21,428 ', '$24,304 ', '$22,498 ', '$24,744 ',
       '$29,965 ', '$45,815 ', '$20,201 ', '$10,107 ', '$11,116 ',
       '$11,209 ', '$12,781 ', '$14,207 ', '$17,574 ', '$18,380 ',
       '$22,055 ', '$23,486 ', '$17,101 ', '$26,157 ', '$27,536 ',
       '$29,783 ', '$28,320 ', '$38,792 ', '$47,575 ', '$31,756 ',
       '$33,121 ', '$29,977 ', '$19,261 ', '$27,355 ', '$30,995 ',
       '$40,004 ', '$45,556 ', '$57,499 ', '$62,846 ', '$54,656 ',
       '$68,306 ', '$63,756 ', '$74,676 ', '$79,226 ', '$25,686 ',
       '$18,973 ', '$23,275 ', '$18,630 ', '$14,910 ', '$9,875 ',
       '$10,705 ', '$11,630 ', '$12,830 ', '$13,790 ', '$16,850 ',
       '$23,764 ', '$19,400 ', '$11,410 ', '$65,807 ', '$35,777 ',
       '$23,969 ', '$39,838 ', '$56,455 ', '$34,576 ', '$28,755 ',
       '$27,404 ', '$28,611 ', '$36,196 ', '$42,232 ', '$48,583 ',
       '$55,063 ', '$28,647 ', '$46,360 ', '$39,443 ', '$29,969 ',
       '$33,929 ', '$36,809 ', '$39,869 ', '$38,418 ', '$41,217 ',
       '$46,208 ', '$15,437 ', '$18,137 ', '$19,742 ', '$14,525 ',
       '$15,922 ', '$17,817 ', '$26,600 ', '$20,701 ', '$23,285 ',
       '$23,794 ', '$25,179 ', '$14,070 ', '$20,482 ', '$71,540 ',
       '$43,268 ', '$24,249 ', '$26,435 ', '$30,071 ', '$31,187 ',
       '$33,456 ', '$35,046 ', '$36,162 ', '$48,522 ', '$88,324 ',
       '$119,600 ', '$41,966 ', '$49,104 ', '$44,849 ', '$53,382 ',
       '$69,168 ', '$80,939 ', '$84,325 ', '$113,388 ', '$117,854 ',
       '$37,548 ', '$52,289 ', '$31,466 ', '$47,174 ', '$56,474 ',
       '$27,317 ', '$19,848 ', '$23,217 ', '$27,148 ', '$21,918 ',
       '$28,318 ', '$31,558 ', '$30,846 ', '$20,748 ', '$28,330 ',
       '$30,763 ', '$17,569 ', '$13,751 ', '$15,718 ', '$17,957 ',
       '$16,196 ', '$27,250 ', '$23,883 ', '$23,456 ', '$25,218 ',
       '$27,466 ', '$16,295 ', '$30,815 ', '$25,972 ', '$19,512 ',
       '$12,205 ', '$13,747 ', '$18,030 ', '$16,444 ', '$21,580 ',
       '$25,182 ', '$26,966 ', '$22,958 ', '$30,019 ', '$25,203 ',
       '$31,845 ', '$18,253 ', '$24,926 ', '$27,300 ', '$17,642 ',
       '$21,485 ', '$26,120 ', '$19,810 ', '$14,375 ', '$20,595 ',
       '$20,545 ', '$16,369 ', '$22,284 ', '$32,997 ', '$21,644 ',
       '$28,454 ', '$30,710 ', '$15,973 ', '$49,865 ', '$69,229 ',
       '$72,206 ', '$67,128 ', '$173,560 ', '$37,886 ', '$45,766 ',
       '$29,269 ', '$31,562 ', '$33,011 ', '$37,721 ', '$38,520 ',
       '$40,883 ', '$38,376 ', '$19,238 ', '$10,319 ', '$13,393 ',
       '$14,811 ', '$13,904 ', '$15,299 ', '$19,801 ', '$21,779 ',
       '$12,340 ', '$13,480 ', '$18,399 ', '$18,713 ', '$23,336 ',
       '$24,687 ', '$26,660 ', '$28,603 ', '$23,022 ', '$29,130 ',
       '$22,304 ', '$19,646 ', '$21,773 ', '$22,307 ', '$16,949 ',
       '$12,719 ', '$14,317 ', '$12,116 ', '$15,378 ', '$17,053 ',
       '$16,291 ', '$18,926 ', '$31,827 ', '$24,801 ', '$24,915 ',
       '$47,986 ', '$18,553 ', '$13,065 ', '$13,650 ', '$13,889 ',
       '$10,144 ', '$10,896 ', '$10,642 ', '$17,558 ', '$20,325 ',
       '$17,722 ', '$19,819 ', '$23,693 ', '$23,125 ', '$23,908 ',
       '$27,271 ', '$21,198 ', '$25,690 ', '$20,363 ', '$22,787 ',
       '$11,879 ', '$14,978 ', '$23,520 ', '$15,156 ', '$32,243 ',
       '$17,478 ', '$18,109 ', '$19,638 ', '$21,686 ', '$21,689 ',
       '$21,898 ', '$30,583 ', '$36,052 ', '$59,912 ', '$69,130 ',
       '$17,427 ', '$22,801 ', '$36,956 ', '$38,851 ', '$23,701 ',
       '$29,916 ', '$32,902 ', '$35,382 ', '$35,542 ', '$35,688 ',
       '$38,203 ', '$40,083 ', '$42,573 ', '$24,641 ', '$33,112 '],
      dtype=object)

In [24]:
data['Invoice'] = data['Invoice'].astype(str) #Changing the cost to string
data['Invoice'] = data['Invoice'].apply(lambda x: x.replace('$',''))
data['Invoice'] = data['Invoice'].apply(lambda x: x.replace(',','')) #Using lambda function to replace ',' from cost
data['Invoice'] = data['Invoice'].astype(float) # Changing the cost to Float
data.info() # looking at the dataset information after transformation

<class 'pandas.core.frame.DataFrame'>
Int64Index: 428 entries, 0 to 431
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Make         428 non-null    object
 1   Model        428 non-null    object
 2   Type         428 non-null    object
 3   Origin       428 non-null    object
 4   DriveTrain   428 non-null    object
 5   MSRP         428 non-null    float64
 6   Invoice      428 non-null    float64
 7   EngineSize   428 non-null    float64
 8   Cylinders    426 non-null    float64
 9   Horsepower   428 non-null    float64
 10  MPG_City     428 non-null    float64
 11  MPG_Highway  428 non-null    float64
 12  Weight       428 non-null    float64
 13  Wheelbase    428 non-null    float64
 14  Length       428 non-null    float64
dtypes: float64(10), object(5)
memory usage: 53.5+ KB

In [25]:
data.head(2)

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,36945.0,33337.0,3.5,6.0,265.0,20.0,23.0,4451.0,106.0,189.0
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,23820.0,21761.0,2.0,4.0,200.0,27.0,31.0,2778.0,101.0,172.0